<footer>
	<section id="mainFooter">
		<div class="container" id="footer">
			<div class="row">
				<div class="col-sm-6">
					<div class="footerWidget">
						<img src="{{base}}images/main-logo.png" alt="Mazira" id="footerLogo" height="30px">

						<p><a href="https://mazira.com" title="Mazira, data management company">Mazira</a> is a data and
							document management company. We build software to store and organize large data collections
							so that it can become useful. Data by itself isn't very useful unless it is distilled into
							useful information!</p>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="footerWidget">

						<h3>Mazira, LLC</h3>
						<address>
							<p><i class="icon-location"></i>316 E. Court Street<br>
								Iowa City, IA 52240-4767 USA<br>
								<i class="icon-phone"></i><a href="tel://1-866-319-6068">+1 (866) 319-6068</a> <br>
								<i class="icon-mail-alt"></i><a href="mailto:info@mazira.com">info@mazira.com</a></p>
						</address>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
<section id="footerRights">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p>Copyright © 2014 <a href="https://mazira.com" target="blank">Mazira, LLC</a>
					<br/>All rights reserved.
				</p>
			</div>
			<div class="col-sm-6">
				<ul class="socialNetwork pull-right">
					<li><a href="https://www.facebook.com/pages/Mazira/216219471762517" class="tips"
						   title="follow us on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
					<li><a href="https://twitter.com/Mazira" class="tips" title="follow us on Twitter"
						   target="_blank"><i class="icon-twitter-bird iconRounded"></i></a></li>
					<li><a href="http://www.linkedin.com/company/mazira" class="tips" title="follow us on Linkedin"><i
							class="icon-linkedin-1 iconRounded"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>



