<section id="home" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-sm-6">
				<div class="flexslider" id="flexHome">
					<ul class="slides">
						<li>
							<h1>Hello, meet our engine</h1>

							<h2>Document power for your business</h2>
						</li>
						<li>
							<h1>Built for flexibility</h1>

							<h2>Pick and choose your components</h2>
						</li>
						<li>
							<h1>No headaches</h1>

							<h2>Integration with existing workflows</h2>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5 col-sm-6">
				<img src="images/theme-pics/home-engine.png" alt="Mazira Engine" class="img-responsive"/>
			</div>
		</div>
	</div>
</section>
<!-- call to action -->
<section class="color4 slice">
	<div class="ctaBox ctaBoxFullwidth">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>
						The <strong>Mazira Engine</strong> can solve your document problem, whether you're a developer
						or a
						CEO.
					</h1>
				</div>
				<div class="col-md-4">
					<a class="btn btn-lg" title=""
					   href="#services"
					   target="blank">
						<i class="icon-flash">find out how</i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- call to action -->

<!-- news -->
<section class="slice" id="news">
	<div class="container imgHover">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="noSubtitle">Latest News</h1>
			</div>

			<article class="col-sm-4">

				<section class="imgWrapper">
					<img src="images/news/mazirame.jpg" class="img-responsive"
						 alt="Mazira.me - Photo aggregation for your online accounts"/>
				</section>

				<div class="mediaHover">
					<div class="mask"></div>
					<div class="iconLinks">

						<a href="images/news/mazirame.jpg" class="image-link" title="Zoom"><i
								class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
					</div>
				</div>
				<section class="newsText color4">
					<h3>Mazira.me Release</h3>
					<h4 class="date">October 23, 2014</h4>

					<p>It's here! For the past few months, Mazira has been working on a photo aggregation service that allows users to view all of their 
						online photos in one place. We're super excited to have some of our technology available to the general public!</p>
					<a href="https://mazira.me"
					   class="btn btn-sm"><i class="icon-right-open-mini"></i>read more</a>
				</section>

			</article>

			<article class="col-sm-4">

				<section class="imgWrapper">
					<img src="images/news/plasio.jpg" class="img-responsive"
						 alt="Plas.io - 3D rendering of point cloud data"/>
				</section>

				<div class="mediaHover">
					<div class="mask"></div>
					<div class="iconLinks">

						<a href="images/news/plasio.jpg" class="image-link" title="Zoom"><i
								class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
					</div>
				</div>
				<section class="newsText color4">
					<h3>Plas.io Release</h3>
					<h4 class="date">March 5, 2014</h4>

					<p>In collaboration with Hobu, Inc., Mazira has developed a browser-based 3D viewer for
						point cloud data. The viewer is a free alternative to conventional desktop software and a showcase for web browser 3D support.</p>
					<a href="http://plas.io"
					   class="btn btn-sm"><i class="icon-right-open-mini"></i>read more</a>
				</section>

			</article>


			<article class="col-sm-4">
				<section class="imgWrapper">
					<img src="images/news/mashape.jpg" class="img-responsive" alt="Mazira API on Mashape"/>
				</section>
				<div class="mediaHover">
					<div class="mask"></div>
					<div class="iconLinks">
						<a href="images/news/mashape.jpg" class="image-link" title="Zoom"><i
								class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
					</div>
				</div>
				<section class="newsText color4">
					<h3>First API Release</h3>
					<h4 class="date">February 14, 2014</h4>

					<p>Mazira has released the first part of its Rasterization API, which produces images from common
						document formats. This technology has been used internally and is now being released as APIs for other programmers.</p>
					<a href="http://www.prlog.org/12281401-mazira-releases-image-rasterizer-public-api-on-mashape.html"
					   class="btn btn-sm"><i class="icon-right-open-mini "></i>read more</a>
				</section>
			</article>

<!--
			<article class="col-sm-4">
				<section class="imgWrapper">
					<img src="images/news/council.jpg" class="img-responsive" alt="snowflake template image news"/>
				</section>
				<div class="mediaHover">
					<div class="mask"></div>
					<div class="iconLinks">
						<a href="images/news/council.jpg" class="image-link" title="Zoom"><i
								class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
					</div>
				</div>
				<section class="newsText color4">
					<h3>Silicon Prairie News</h3>
					<h4 class="date">November 21, 2013</h4>

					<p>Joe Stych from Silicon Prairie News sat down and chatted with Mazira founders about their business. Read "Iowa Startup helps Users Convert Data
						into 'Actionable Intelligence'" for more information. </p>
					<a href="http://www.siliconprairienews.com/2013/10/iowa-startup-helps-users-convert-data-into-actionable-intelligence"
					   class="btn btn-sm"><i class="icon-right-open-mini"></i>read more</a>
				</section>
			</article>
-->

		</div>
	</div>
</section>
<!-- news -->

<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
	<div class="maskParent">
		<div class="paralaxMask"></div>
		<div class="paralaxText container">
			<i class="icon-megaphone "></i>
			<blockquote class="bigTitle">The building blocks are there. Snap them together, and bam, there is your document pipeline.<br />
				<small>Ross Johnson, co-founder</small>
			</blockquote>
		</div>
	</div>
</div>

<!-- services -->
<section class="slice color1" id="services">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Our services</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2 class="subTitle">Tailored Solutions</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-arrows-cw-outline iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>Full Document Solution</h2>
						<p>We'll handle scanning, OCR, data extraction, indexing, search, and visualization.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-desktop iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>Data Dashboard</h2>
						<p>Visualize real-time data and stay up-to-date with your real-time business.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-flow-merge iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>Data Aggregation</h2>
						<p>If your documents or data are in multiple locations, we can provide a centralized view which
							stays up-to-date.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-chart-alt-outline iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>Custom Visualizations</h2>

						<p>Top down lists of data results are primitive. How about an interactive timeline or 3D
							visualization?</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2 class="subTitle">Web Services</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-picture-outline iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>Document Rasterization</h2>

						<p>Convert a huge variety of document types to images for in-browser display or archiving.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-upload-outline iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>Document Clusters</h2>

						<p>Store and search your documents with a simple API. Perfect for building your own document
							search engine.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-eye-outline iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>Character Recognition</h2>

						<p>Convert scanned pages to text, and then use word positions for further analysis &
							processing.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row boxFeature">
					<div class="col-xs-3">
						<i class="icon-th-outline iconBig"></i>
					</div>
					<div class="col-xs-9">
						<h2>PDF Normalization</h2>

						<p>Send it images or documents, get back a searchable PDF. It doesn't get easier.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- services -->

<div id="paralaxSlice2" data-stellar-background-ratio="0.5">
	<div class="maskParent">
		<div class="paralaxMask"></div>
		<div class="paralaxText container">
			<blockquote class="bigTitle">When people drop a document on one end, and see the analytics on the other, their eyes light up.<br/>
				<small>Ross Johnson, co-founder</small>
			</blockquote>
		</div>
	</div>
</div>

<section class="slice" id="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="noSubtitle">About us</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6"><img src="images/works/personal.png" alt="services" class="img-responsive"></div>
			<div class="col-sm-6">
{{#markdown}}
Mazira was founded in 2011 by a group of scientists and engineers who met while working at the [University of Iowa's](http://www.uiowa.edu/) [Virtual Soldier Research program](http://www.ccad.uiowa.edu/vsr/). The company evolved out of an idea to address the need for a better personal photo and document management tool, using technology previously developed by co-founder Ross Johnson.

While further developing this technology, with mentorship from the University's [John Pappajohn Entrepreneurial Center](http://www.iowajpec.org/) (JPEC), the team realized that aggregating, structuring, and visualizing data was a poorly addressed problem in the corporate IT landscape. Recognizing the potential, the team switched focus to developing a core set of technologies to address large-scale data & document processing. This tool set has since rapidly evolved into the Mazira Engine, now in version 2.0.

Originally located in JPEC's [Bedell Entrepreneurship Learning Laboratory](http://www.iowajpec.org/entrepreneur-support/bell/), Mazira is now headquartered at the [Iowa City CoLab](http://www.iccolab.com/) operated by the [Iowa City Area Development Group](http://www.iowacityareadevelopment.com/).

Mazira has won numerous business model and business plan competitions, including receiving top prize at the 2012 Pappajohn New Venture Business Plan Competition.
{{/markdown}}
			</div>
		</div>
	</div>
</section>


<section class="slice" id="team">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="noSubtitle">Meet the founders</h1>
			</div>
			<div class="col-sm-6 col-md-4">
				<article>
					<div><img src="images/team/ross.jpg" alt="" class="img-responsive"></div>
					<div class="boxContent color4">
						<h3>Ross Johnson</h3>

						<p>Mastermind / CTO</p>
					</div>
					<div class="boxContent"><a href="mailto:ross@mazira.com">ross@mazira.com</a>
						<ul class="socialNetwork mt15">
							<li><a href="http://www.linkedin.com/in/rossdjohnson" class="tips" title=""
								   data-original-title="follow me on Linkedin"><i
									class="icon-linkedin-1 iconRounded"></i></a></li>
						</ul>
					</div>
				</article>
			</div>

			<div class="col-sm-6 col-md-4">
				<article>
					<div><img src="images/team/anith.jpg" alt="" class="img-responsive"></div>
					<div class="boxContent color4">
						<h3>Anith Mathai</h3>

						<p>The Talker / CEO</p>
					</div>
					<div class="boxContent"><a href="mailto:anith@mazira.com">anith@mazira.com</a>
						<ul class="socialNetwork mt15">
							<li><a href="http://www.linkedin.com/pub/anith-mathai/1/273/144" class="tips" title=""
								   data-original-title="follow me on Linkedin"><i
									class="icon-linkedin-1 iconRounded"></i></a></li>
						</ul>
					</div>
				</article>
			</div>

			<div class="col-sm-6 col-md-4">
				<article>
					<div><img src="images/team/amanda.jpg" alt="" class="img-responsive"></div>
					<div class="boxContent color4">
						<h3>Amanda Johnson</h3>

						<p>Pixel Pusher / CMO</p>
					</div>
					<div class="boxContent"><a href="mailto:amanda@mazira.com">amanda@mazira.com</a>
						<ul class="socialNetwork mt15">
							<li><a href="http://www.linkedin.com/pub/amanda-johnson/a/264/904" class="tips" title=""
								   data-original-title="follow me on Linkedin"><i
									class="icon-linkedin-1 iconRounded"></i> </a></li>
						</ul>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>

<div id="paralaxSlice3" data-stellar-background-ratio="0.5">
	<div class="maskParent">
		<div class="paralaxMask"></div>
		<div class="paralaxText">
			<blockquote>We teach companies to love their data.<br />
				<small>Ross Johnson, co-founder</small>
			</blockquote>
		</div>
	</div>
</div>
<section class="slice" id="contactSlice">
	<div class="container">
		<div class="row">

			<div class="col-sm-12">
				<h1 class="noSubtitle">Contact us</h1>
			</div>
			<div class="col-sm-12">
				<div id="mapWrapper" class="mb30"></div>
			</div>
			<div class="col-sm-4">
				<h4>Address:</h4>
				<address>
					Mazira, LLC<br/>
					316 E. Court Street<br/>
					Iowa City, IA 52240-4767 USA <br/>
				</address>
				<h4>Phone:</h4>
				<address>
					<a href="tel://1-866-319-6068">+1 (866) 319-6068</a>
				</address>
				<h4></h4>
			</div>
			<form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm"
				  role="form">

				<div class="col-sm-4">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" id="name" placeholder="Enter name"
							   title="Please enter your name (at least 2 characters)"/>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" id="email" placeholder="Enter email"
							   title="Please enter a valid email address"/>
					</div>
					<div class="form-group">
						<label for="phone">Phone</label>
						<input name="phone" class="form-control required digits" type="tel" id="phone" size="30"
							   value="" placeholder="Enter phone"
							   title="Please enter a valid phone number (at least 10 characters)">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea name="comment" class="form-control" id="comments" cols="3" rows="5"
								  placeholder="Enter your message…"
								  title="Please enter your message (at least 10 characters)"></textarea>
					</div>
					<fieldset class="clearfix securityCheck">
						<legend>Security</legend>
						<div class="form-group">
							<img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification"
								 id="verifyImg"/>
							<input class="required form-control" id="verify" name="verify" type="text">
						</div>
					</fieldset>
				</div>
				<div class="col-md-8 col-md-offset-4">
					<div class="result"></div>
					<button name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button>
				</div>
			</form>
		</div>
	</div>
</section>


