RewriteEngine on
DirectorySlash Off
Options -MultiViews

RewriteCond %{REQUEST_FILENAME} /blog/compar$
RewriteRule ^ https://mazira.com/blog/comparing-speed-imagemagick-graphicsmagick [R,L,NC]

RewriteCond %{REQUEST_FILENAME} /blog/minifying-javascript-grunt2$
RewriteRule ^ https://mazira.com/blog/minifying-javascript-grunt [R,L,NC]

RewriteCond %{REQUEST_FILENAME} /blog/unstructured-and-structured-data1$
RewriteRule ^ https://mazira.com/blog/unstructured-structured-data [R,L,NC]

RewriteCond %{REQUEST_FILENAME} /unstructured-and-structured-data$
RewriteRule ^ https://mazira.com/blog/unstructured-structured-data [R,L,NC]

RewriteCond %{REQUEST_FILENAME} /when-ocr-just-not-enough$
RewriteRule ^ https://mazira.com/blog/when-ocr-is-just-not-enough [R,L,NC]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ https://%{SERVER_NAME}%1 [R,L,NC]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)/\s [NC]
RewriteRule ^ https://%{SERVER_NAME}%1 [R,L,NC]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [L]

